@model WebApplication1.Models.SelectCheckModels


<head>
    <link href="~/Content/ControlParts.css" rel="stylesheet" type="text/css" />
</head>

@{
    ViewBag.Title = "前悬图表查询";
}

<h2>@ViewBag.Title</h2>

