@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article>
    <p>
        副车架：用于Lavida NF副车架总成装配，基于PCS框架标准。支持PQ24,M-Y,Lavida NF产品
    </p>

    <p>
        后桥：用于Lavida NF后桥总成装配，基于PCS框架标准。支持PQ24,M-Y,Lavida NF产品
    </p>

    <p>
        前悬：用于Lavida NF前悬总成装配，基于PCS框架标准。支持PQ24,M-Y,Lavida NF产品
    </p>
</article>
