@{
    ViewBag.Title = "联系";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<section class="contact">
    <header>
        <h3>电话：</h3>
    </header>
    <p>
        <span class="label">座机:</span>
        <span>xxx-xxxxxxxx</span>
    </p>
    <p>
        <span class="label">手机:</span>
        <span>xxx-xxxx-xxxx</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email：</h3>
    </header>
    <p>
        <span class="label">技术支持：</span>
        <span><a href="/">xxxxx@xxx.com</a></span>
    </p>
    <p>
        <span class="label">售后支持：</span>
        <span><a href="/">xxxxx@xxx.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>地址：</h3>
    </header>
    <p>
        江苏省，昆山市
    </p>
</section>